/* src/components/UserLayout.module.css */

.userHomeLayout {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 300px;
    padding: 1.5rem 1rem;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

    .sidebar h2 {
        font-size: 1.1em;
        margin: 0 0 1.5rem;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 500;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .sidebar li {
        margin-bottom: 0.8rem;
    }


.mainContent {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

.pageHeader h1 {
    font-size: 2em;
    margin: 0 0 1.5rem;
}

.mainContent h2 {
    font-size: 1.5em;
    margin: 0 0 1rem;
}

.mainContent p {
    margin: 0.5rem 0;
    line-height: 1.5;
}

.mainContent strong {
    color: #646cff;
}
