/* src/forms/AuthForm.module.css */

.authForm {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    text-align: left;
}

.authFormGroup {
    margin-bottom: 15px;
}

    .authFormGroup label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .authFormGroup input {
        width: 100%;
        padding: 8px;
        background-color: transparent;
        border-bottom: 1px solid #646cff;
        border-top: none;
        border-left: none;
        border-right: none;
        box-sizing: border-box;
        font-family: "Cascadia Mono";
    }

.errorMessage {
    color: red;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffe6e6;
    border-radius: 4px;
}
