/* src/layouts/userLayout/UserLayout.module.css */

.userHomeLayout {
    display: flex;
    width: 100%;
    height: 100vh;
}

.mainContent {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

.pageHeader h1 {
    font-size: 2em;
    margin: 0 0 1.5rem;
}

.mainContent h2 {
    font-size: 1.5em;
    margin: 0 0 1rem;
}

.mainContent p {
    margin: 0.5rem 0;
    line-height: 1.5;
}

.mainContent strong {
    color: #646cff;
}
