/* src/index.css */
#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
}

:root {
    font-family: "Cascadia Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 400;
    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #1a1a1a;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.test-style-0 {
    border: 1px solid #f00
}

.test-style-1 {
    border: 1px solid #0f0
}

.test-style-2 {
    border: 1px solid #00f
}

.App {
    border: 1px solid #fff
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

    a:hover {
        color: #535bf2;
    }

body {
    margin: 0;
    display: flex;
    place-items: flex-start center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #121212;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

    button:hover {
        border-color: #646cff;
    }

    button:focus, button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
